---
import Layout from "../../layouts/Layout.astro";
import GamerCard from "../../components/GamerCard.astro";
import { getPostInfo, getAllPostsSlugs } from "../../lib/wp.ts";

const slug = Astro.params.slug;
if (!slug) return Astro.redirect("404");

export async function getStaticPaths() {
  const slugs = await getAllPostsSlugs();
  return slugs.map((slug) => ({ params: { slug } }));
}

const { title, content } = await getPostInfo(slug);
---

<Layout title={title}>
  <article class="prose max-w-2xxl mx-auto">
    <h1>{title}</h1>
    <div set:html={content} />
  </article>
</Layout>
